body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.box {
    width: 150px;
    height: 150px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.box:hover{
    transform: translate(20px, 10px) scale(1.1);
    background-color: #e74c3c;
}